<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>My form</h1>

<form action="/storage/files/"
      method="POST"
      enctype="multipart/form-data">
    <div>
        <label for="filetag">Tag</label>
        <input type="text" name="filetag" id="filetag">
    </div>
    <div>
        <label for="filename">File</label>
        <input type="text" name="filename" id="filename">
    </div>

    <input type="submit" value="provide information">
</form>

</body>
</html>